/.phpunit.cache
/node_modules
/Modules/Admin/node_modules
/public/build
/public/hot
/public/storage
/public/build-admin/
/public/build-user/
/storage/*.key
/storage/pail
/vendor
./composer.lock
package-lock.json
/Modules/Admin/composer.lock
/Modules/Admin/package-lock.json
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
